#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.traza-app-name {
    font-size: 1rem;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.dropdown-item-text {
    max-width: 18rem;
    padding: 0.75rem 1rem;
    white-space: normal;
}
